<div class="cart_title" ><%= t('.title') %></div>
<table id="cart_contents">
  <%= render @cart.line_items %>

  <tr class="total_line" >
    <td colspan="2" >Total</td>
    <td class="total_cell" ><%= number_to_currency_locale(@cart.total_price) %></td>
  </tr>
</table>

<%= button_to t('.checkout'), new_order_path, method: :get unless @hide_checkout %>

<%= button_to t('.empty'), @cart, :method => :delete, :confirm => 'Are you sure?' %>
